In [1]:
from IPython.display import Image
  
# get the image
Image(url="https://editor.analyticsvidhya.com/uploads/19855data%20cleaning%20cycle.jpg", width=500, height=400)

In [2]:
# Importing the processing Libray..
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_json('../../Raw dataset/claims.json')

In [5]:
df.head()

,claim_id,patient_id,disease_name,SUB_ID,Claim_Or_Rejected,claim_type,claim_amount,claim_date
0,0,187158,Galactosemia,SUBID1000,N,claims of value,79874,1949-03-14
1,1,112766,Bladder cancer,SUBID10001,NaN,claims of policy,151142,1970-03-16
2,2,199252,Kidney cancer,SUBID10002,NaN,claims of value,59924,2008-02-03
3,3,133424,Suicide,SUBID10003,NaN,claims of fact,143120,1995-02-08
4,4,172579,Food allergy,SUBID10004,Y,claims of value,168634,1967-05-23

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   claim_id           70 non-null     int64
 1   patient_id         70 non-null     int64
 2   disease_name       70 non-null     object
 3   SUB_ID             70 non-null     object
 4   Claim_Or_Rejected  70 non-null     object
 5   claim_type         70 non-null     object
 6   claim_amount       70 non-null     int64
 7   claim_date         70 non-null     object
dtypes: int64(3), object(5)
memory usage: 4.5+ KB

In [7]:
df.describe

<bound method NDFrame.describe of     claim_id  patient_id    disease_name      SUB_ID Claim_Or_Rejected  \
0          0      187158    Galactosemia   SUBID1000                 N
1          1      112766  Bladder cancer  SUBID10001               NaN
2          2      199252   Kidney cancer  SUBID10002               NaN
3          3      133424         Suicide  SUBID10003               NaN
4          4      172579    Food allergy  SUBID10004                 Y
..       ...         ...             ...         ...               ...
65        65      191132        Glaucoma   SUBID1065                 Y
66        66      105686       Hepatitis  SUBID10066                 N
67        67      160140   Rett Syndrome   SUBID1067                 N
68        68      114252        Diabetes  SUBID10068               NaN
69        69      188365     Pet allergy  SUBID10069               NaN

          claim_type  claim_amount  claim_date
0    claims of value         79874  1949-03-14
1   claims of policy        151142  1970-03-16
2    claims of value         59924  2008-02-03
3     claims of fact        143120  1995-02-08
4    claims of value        168634  1967-05-23
..               ...           ...         ...
65  claims of policy         81980  1969-05-31
66    claims of fact         13667  1957-09-12
67   claims of value        109433  1944-12-25
68  claims of policy        152901  1948-02-13
69    claims of fact         99313  1994-08-25

[70 rows x 8 columns]>

In [4]:
df.isnull()

,claim_id,patient_id,disease_name,SUB_ID,Claim_Or_Rejected,claim_type,claim_amount,claim_date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
65,False,False,False,False,False,False,False,False
66,False,False,False,False,False,False,False,False
67,False,False,False,False,False,False,False,False
68,False,False,False,False,False,False,False,False
69,False,False,False,False,False,False,False,False

In [8]:
# Count the total Null values
df.isnull().sum()

claim_id             0
patient_id           0
disease_name         0
SUB_ID               0
Claim_Or_Rejected    0
claim_type           0
claim_amount         0
claim_date           0
dtype: int64

In [9]:
# Replace the null values
df['Claim_Or_Rejected'].mask(df['Claim_Or_Rejected'] == 'NaN', 'N', inplace=True)

In [11]:
df.head(60)

,claim_id,patient_id,disease_name,SUB_ID,Claim_Or_Rejected,claim_type,claim_amount,claim_date
0,0,187158,Galactosemia,SUBID1000,N,claims of value,79874,1949-03-14
1,1,112766,Bladder cancer,SUBID10001,N,claims of policy,151142,1970-03-16
2,2,199252,Kidney cancer,SUBID10002,N,claims of value,59924,2008-02-03
3,3,133424,Suicide,SUBID10003,N,claims of fact,143120,1995-02-08
4,4,172579,Food allergy,SUBID10004,Y,claims of value,168634,1967-05-23
5,5,171320,Whiplash,SUBID10005,N,claims of policy,64840,1991-10-04
6,6,107794,Sunbathing,SUBID1006,N,claims of fact,26800,1991-03-26
7,7,130339,Drug consumption,SUBID10007,N,claims of value,177186,1946-09-05
8,8,110377,Dengue,SUBID10008,N,claims of fact,141123,1966-06-20
9,9,149367,Head banging,SUBID10009,N,claims of value,88540,1945-12-29
10,10,156168,Fanconi anaemia,SUBID1010,N,claims of value,29150,1999-01-25
11,11,114241,Breast cancer,SUBID10011,Y,claims of value,40897,1975-02-08
12,12,146382,Anthrax,SUBID10012,N,claims of value,75983,1985-02-12
13,13,132748,Cystic fibrosis,SUBID10013,N,claims of fact,192340,2014-07-30
14,14,167340,Galactosemia,SUBID10014,N,claims of value,118628,2003-12-18
15,15,135184,Dengue,SUBID10015,Y,claims of value,100224,1986-08-02
16,16,179662,Smallpox,SUBID10016,N,claims of value,42860,1955-01-20
17,17,184479,Pollen allergy,SUBID10017,N,claims of policy,161786,2017-06-01
18,18,156988,Breast cancer,SUBID10018,N,claims of fact,66129,1956-01-04
19,19,132870,Glaucoma,SUBID10019,N,claims of value,182552,1948-07-26
20,20,148137,Pet allergy,SUBID1020,Y,claims of value,105982,1984-04-10
21,21,113280,Rett Syndrome,SUBID1021,N,claims of fact,55761,1953-06-24
22,22,134184,Flu,SUBID10022,Y,claims of value,34771,1948-05-23
23,23,122592,Cholera,SUBID10023,N,claims of value,83642,1945-03-15
24,24,154439,Scurvy,SUBID10024,N,claims of policy,49129,2013-08-04
25,25,117945,Glaucoma,SUBID10025,N,claims of fact,36524,1976-08-24
26,26,189996,Measles,SUBID10026,N,claims of value,192381,1966-08-30
27,27,146540,Scurvy,SUBID10027,N,claims of fact,188520,2008-08-26
28,28,156434,Flu,SUBID10028,N,claims of policy,122806,1958-08-05
29,29,197352,Pet allergy,SUBID10029,N,claims of fact,81651,2008-02-01
30,30,138778,Lymphedema,SUBID1030,N,claims of fact,19899,1976-09-08
31,31,162665,Alcohol consumption,SUBID10031,N,claims of fact,42968,1976-01-25
32,32,197503,Stroke,SUBID1032,N,claims of policy,191267,1988-12-18
33,33,113476,Galactosemia,SUBID10033,N,claims of value,161199,2019-11-17
34,34,195876,Vertigo,SUBID1034,N,claims of fact,26221,2008-08-10
35,35,150189,Measles,SUBID10035,Y,claims of value,28542,1973-03-25
36,36,138861,Heart Attack,SUBID1036,N,claims of policy,62985,1948-09-27
37,37,146555,Phenylketonuria,SUBID1037,N,claims of policy,19596,1972-10-11
38,38,199114,Phenylketonuria,SUBID1038,Y,claims of fact,25171,1979-03-11
39,39,105758,Head banging,SUBID10039,N,claims of fact,108526,1960-05-09
40,40,109251,Choking,SUBID10040,Y,claims of value,116937,1998-09-26
41,41,156223,Fanconi anaemia,SUBID1041,N,claims of fact,118452,1955-10-11
42,42,108576,Stroke,SUBID10042,N,claims of fact,188727,1989-10-28
43,43,132947,Anaemia,SUBID1043,N,claims of value,186502,1962-09-18
44,44,148674,Diabetes,SUBID1044,Y,claims of policy,173600,1959-10-19
45,45,133107,Lymphedema,SUBID1045,Y,claims of policy,160739,1952-07-29
46,46,193137,Phenylketonuria,SUBID10046,N,claims of fact,25957,2003-11-29
47,47,196369,Choking,SUBID1047,N,claims of value,164159,1953-06-07
48,48,109342,Asthma,SUBID10048,Y,claims of value,125727,1947-04-11
49,49,121783,Bladder cancer,SUBID10049,N,claims of fact,159815,1983-06-20
50,50,197441,Lung cancer,SUBID10050,N,claims of policy,156557,1972-06-19
51,51,194166,Colorectal cancer,SUBID10051,N,claims of value,193801,1969-02-01
52,52,110690,Food Poisoning,SUBID10052,N,claims of policy,130339,1959-07-22
53,53,180709,Anthrax,SUBID10053,Y,claims of fact,87588,2008-10-17
54,54,119268,Mold allergy,SUBID10054,N,claims of policy,27404,1965-01-09
55,55,163148,Beriberi,SUBID10055,Y,claims of policy,44986,2007-06-22
56,56,118913,Malaria,SUBID10056,N,claims of fact,124734,1974-12-21
57,57,167423,Asthma,SUBID10057,Y,claims of policy,161497,1974-12-28
58,58,141703,Fractures,SUBID1058,Y,claims of policy,20770,1967-08-28
59,59,173518,Malaria,SUBID10059,N,claims of policy,171729,1983-08-26

In [12]:
# Check the duplicates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
65    False
66    False
67    False
68    False
69    False
Length: 70, dtype: bool

In [13]:
# Drop duplicates
df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,claim_id,patient_id,disease_name,SUB_ID,Claim_Or_Rejected,claim_type,claim_amount,claim_date
0,0,187158,Galactosemia,SUBID1000,N,claims of value,79874,1949-03-14
1,1,112766,Bladder cancer,SUBID10001,N,claims of policy,151142,1970-03-16
2,2,199252,Kidney cancer,SUBID10002,N,claims of value,59924,2008-02-03
3,3,133424,Suicide,SUBID10003,N,claims of fact,143120,1995-02-08
4,4,172579,Food allergy,SUBID10004,Y,claims of value,168634,1967-05-23
...,...,...,...,...,...,...,...,...
65,65,191132,Glaucoma,SUBID1065,Y,claims of policy,81980,1969-05-31
66,66,105686,Hepatitis,SUBID10066,N,claims of fact,13667,1957-09-12
67,67,160140,Rett Syndrome,SUBID1067,N,claims of value,109433,1944-12-25
68,68,114252,Diabetes,SUBID10068,N,claims of policy,152901,1948-02-13
69,69,188365,Pet allergy,SUBID10069,N,claims of fact,99313,1994-08-25

In [15]:
# Check Subscriber Id not less than 9 digit
count = 0
for i in df['SUB_ID'].values:
    
    if len(i)<9:
        df.drop([count], axis=0, inplace=True)
    elif len(str(i))>10:
        df.drop([count], axis=0, inplace=True)
    count = count+1

In [17]:
# Check Patient Id not less than 6 digit
count = 0
for i in df['patient_id'].values:
    
    if len(str(i))<6:
        df.drop([count], axis=0, inplace=True)
    elif len(str(i))>6:
        df.drop([count], axis=0, inplace=True)
    count = count+1

In [18]:
# Check the Claim_Or_Rejected types
df['Claim_Or_Rejected'].unique()

array(['N', 'Y'], dtype=object)

In [19]:
# Check the claim_type types
df['claim_type'].unique()

array(['claims of value', 'claims of policy', 'claims of fact'],
      dtype=object)

In [10]:
# Export the Data
df.to_json('../claims.json')